@import url(../css/bootstrap.min.css);
@import url(../css/jquery.bxslider.css);
@import url(../css/jquery-ui.css);
html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #000; }

#particles-js {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10; }

#accordion {
  margin-bottom: 90px; }

.header .bg {
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  height: 900px; }

.header-logo a {
  margin-top: 24px;
  display: block; }

.header-time {
  margin-top: 35px; }
  .header-time p {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    position: relative;
    margin-left: 30px; }
    .header-time p::before {
      content: '';
      width: 26px;
      height: 26px;
      position: absolute;
      background-image: url(../img/time.png);
      background-repeat: no-repeat;
      left: -42px;
      top: 10px; }

.header-tel {
  margin-top: 35px;
  margin-left: 40px; }
  .header-tel:first-child::before {
    content: '';
    width: 26px;
    height: 26px;
    background-image: url(../img/tel.png);
    position: absolute;
    left: 10px;
    top: 45px; }
  .header-tel a {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin-bottom: 5px;
    margin-right: 20px;
    display: inline-block;
    position: relative; }
    .header-tel a:hover {
      text-decoration: none; }

@media only screen and (max-width: 1300px) {
  .header-title {
    padding-left: 40px; } }

.header-title h1 {
  font-family: Roboto, sans-serif;
  font-size: 53px;
  line-height: 68px;
  color: #fff;
  font-weight: 500;
  margin-top: 165px;
  margin-bottom: 39px; }

@media only screen and (max-width: 1300px) {
  .header-btn {
    padding-left: 40px; } }

.header-btn button {
  border: none;
  background-color: #fff;
  color: #4b67ba;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 45px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 100;
  position: relative;
  outline: none; }

.header-img {
  margin-top: 90px;
  margin-left: -100px; }
  @media only screen and (max-width: 1300px) {
    .header-img {
      margin-left: -130px; } }
  .header-img img {
    position: relative;
    z-index: 100; }

.header-arrow {
  text-align: center;
  padding-top: 170px; }
  .header-arrow a {
    display: inline-block;
    width: 23px;
    height: 29px;
    background-image: url(../img/arrow-next.png);
    background-repeat: no-repeat;
    z-index: 100;
    position: relative; }

.section {
  padding-bottom: 68px; }
  .section-services {
    background-image: url(../img/services-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    padding-bottom: 0; }
  .section-sale {
    background-image: url(../img/bg_sale.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    padding-bottom: 40px; }
  .section-title {
    text-align: center;
    margin-top: 68px;
    margin-bottom: 68px; }
    .section-title .title {
      font-family: Roboto, sans-serif;
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      text-transform: uppercase;
      color: #474343;
      position: relative;
      display: inline-block; }
      .section-title .title::before {
        content: '';
        position: absolute;
        width: 144px;
        height: 2px;
        background-color: #474343;
        left: -164px;
        top: 11px; }
      .section-title .title::after {
        content: '';
        position: absolute;
        width: 144px;
        height: 2px;
        background-color: #474343;
        top: 11px;
        right: -164px; }
    .section-title .title-white {
      color: #fff; }
      .section-title .title-white::before {
        background-color: #fff; }
      .section-title .title-white::after {
        background-color: #fff; }
  .section .why-item {
    position: relative; }
    .section .why-item::after {
      content: '';
      height: 204px;
      width: 1px;
      background-color: #474343;
      position: absolute;
      right: -14px;
      top: 0; }
    .section .why-item img {
      margin-left: 36px;
      margin-right: 15px;
      margin-bottom: 17px;
      float: left; }
    .section .why-item h4 {
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      color: #474343;
      text-transform: uppercase;
      margin-right: 30px; }
    .section .why-item p {
      margin-left: 36px;
      margin-right: 10px;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      color: #474343; }
  .section .why .line::after {
    height: 0;
    width: 0; }
  .section .services-item {
    margin-bottom: 90px;
    text-align: center; }
    .section .services-item img {
      margin-bottom: 20px; }
    .section .services-item h4 {
      font-family: Roboto, sans-serif;
      font-size: 24px;
      line-height: 30px;
      color: #fff;
      font-weight: 400; }
  .section .consultation {
    margin-top: 79px;
    margin-bottom: 20px;
    border: 1px solid #4b67ba;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .section .consultation-form {
      margin: 0 auto; }
      .section .consultation-form h3 {
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: #474343;
        line-height: 30px;
        text-align: center;
        margin-bottom: 57px;
        margin-top: 30px; }
      .section .consultation-form input {
        -webkit-border-radius: 8px;
                border-radius: 8px;
        border: 2px solid #4b67ba;
        outline: none;
        width: 363px;
        display: block;
        line-height: 40px;
        margin-bottom: 22px;
        -webkit-box-shadow: none;
                box-shadow: none;
        margin-left: 45px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
        color: #474343;
        font-weight: 300; }
        .section .consultation-form input::-webkit-input-placeholder {
          font-family: Roboto, sans-serif;
          font-size: 18px;
          font-weight: 300;
          color: #474343;
          line-height: 40px;
          text-indent: 0px;
          -webkit-transition: text-indent 0.3s ease;
          -o-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .section .consultation-form input::-moz-placeholder {
          font-family: Roboto, sans-serif;
          font-size: 18px;
          font-weight: 300;
          color: #474343;
          line-height: 40px;
          text-indent: 0px;
          -webkit-transition: text-indent 0.3s ease;
          -o-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .section .consultation-form input:-ms-input-placeholder {
          font-family: Roboto, sans-serif;
          font-size: 18px;
          font-weight: 300;
          color: #474343;
          line-height: 40px;
          text-indent: 0px;
          -webkit-transition: text-indent 0.3s ease;
          -o-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .section .consultation-form input::-ms-input-placeholder {
          font-family: Roboto, sans-serif;
          font-size: 18px;
          font-weight: 300;
          color: #474343;
          line-height: 40px;
          text-indent: 0px;
          -webkit-transition: text-indent 0.3s ease;
          -o-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .section .consultation-form input::placeholder {
          font-family: Roboto, sans-serif;
          font-size: 18px;
          font-weight: 300;
          color: #474343;
          line-height: 40px;
          text-indent: 0px;
          -webkit-transition: text-indent 0.3s ease;
          -o-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .section .consultation-form input:focus::-webkit-input-placeholder {
          text-align: center;
          text-indent: 500px;
          -webkit-transition: text-indent 0.3s ease;
          -o-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .section .consultation-form input:focus::-moz-placeholder {
          text-align: center;
          text-indent: 500px;
          -webkit-transition: text-indent 0.3s ease;
          -o-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .section .consultation-form input:focus:-ms-input-placeholder {
          text-align: center;
          text-indent: 500px;
          -webkit-transition: text-indent 0.3s ease;
          -o-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .section .consultation-form input:focus::-ms-input-placeholder {
          text-align: center;
          text-indent: 500px;
          -webkit-transition: text-indent 0.3s ease;
          -o-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .section .consultation-form input:focus::placeholder {
          text-align: center;
          text-indent: 500px;
          -webkit-transition: text-indent 0.3s ease;
          -o-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .section .consultation-form input[type=submit] {
          background-color: #4b67ba;
          font-family: Roboto, sans-serif;
          font-weight: 500;
          font-size: 14px;
          color: #fff;
          line-height: 40px;
          width: 228px;
          text-transform: uppercase;
          margin-left: 117px;
          padding-left: 0px;
          padding-right: 0px; }
  .section .sale .item {
    margin-left: 33%; }
    .section .sale .item .sale-text {
      font-family: Roboto, sans-serif;
      font-size: 24px;
      line-height: 30px;
      color: #fff;
      font-weight: 400;
      margin-bottom: 53px;
      position: relative;
      display: inline-block; }
      .section .sale .item .sale-text::before {
        content: '';
        display: block;
        position: absolute;
        background-image: url(../img/check.png);
        width: 55px;
        height: 40px;
        left: -75px;
        top: -5px; }
  .section .review-item {
    display: inline-block; }
  .section .review-img {
    max-width: 100px;
    float: left;
    margin-right: 19px;
    margin-bottom: 20px;
    margin-left: 22px; }
  .section .review-name h4 {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #474343;
    margin-top: 40px; }
  .section .review-text p {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #474343;
    margin-left: 22px;
    margin-right: 14px; }
  .section .form {
    text-align: center; }
    .section .form-action h3 {
      margin-bottom: 30px;
      line-height: 30px;
      color: #474343;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 24px; }
    .section .form-action input {
      margin: 0 auto;
      -webkit-border-radius: 8px;
              border-radius: 8px;
      border: 2px solid #4b67ba;
      outline: none;
      width: 363px;
      display: block;
      line-height: 40px;
      margin-bottom: 22px;
      -webkit-box-shadow: none;
              box-shadow: none;
      padding-right: 20px;
      padding-left: 20px;
      font-size: 18px;
      color: #474343;
      font-weight: 300; }
      .section .form-action input::-webkit-input-placeholder {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #474343;
        line-height: 40px;
        text-indent: 0px;
        -webkit-transition: text-indent 0.3s ease;
        -o-transition: text-indent 0.3s ease;
        transition: text-indent 0.3s ease; }
      .section .form-action input::-moz-placeholder {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #474343;
        line-height: 40px;
        text-indent: 0px;
        -webkit-transition: text-indent 0.3s ease;
        -o-transition: text-indent 0.3s ease;
        transition: text-indent 0.3s ease; }
      .section .form-action input:-ms-input-placeholder {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #474343;
        line-height: 40px;
        text-indent: 0px;
        -webkit-transition: text-indent 0.3s ease;
        -o-transition: text-indent 0.3s ease;
        transition: text-indent 0.3s ease; }
      .section .form-action input::-ms-input-placeholder {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #474343;
        line-height: 40px;
        text-indent: 0px;
        -webkit-transition: text-indent 0.3s ease;
        -o-transition: text-indent 0.3s ease;
        transition: text-indent 0.3s ease; }
      .section .form-action input::placeholder {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #474343;
        line-height: 40px;
        text-indent: 0px;
        -webkit-transition: text-indent 0.3s ease;
        -o-transition: text-indent 0.3s ease;
        transition: text-indent 0.3s ease; }
      .section .form-action input:focus::-webkit-input-placeholder {
        text-align: center;
        text-indent: 500px;
        -webkit-transition: text-indent 0.3s ease;
        -o-transition: text-indent 0.3s ease;
        transition: text-indent 0.3s ease; }
      .section .form-action input:focus::-moz-placeholder {
        text-align: center;
        text-indent: 500px;
        -webkit-transition: text-indent 0.3s ease;
        -o-transition: text-indent 0.3s ease;
        transition: text-indent 0.3s ease; }
      .section .form-action input:focus:-ms-input-placeholder {
        text-align: center;
        text-indent: 500px;
        -webkit-transition: text-indent 0.3s ease;
        -o-transition: text-indent 0.3s ease;
        transition: text-indent 0.3s ease; }
      .section .form-action input:focus::-ms-input-placeholder {
        text-align: center;
        text-indent: 500px;
        -webkit-transition: text-indent 0.3s ease;
        -o-transition: text-indent 0.3s ease;
        transition: text-indent 0.3s ease; }
      .section .form-action input:focus::placeholder {
        text-align: center;
        text-indent: 500px;
        -webkit-transition: text-indent 0.3s ease;
        -o-transition: text-indent 0.3s ease;
        transition: text-indent 0.3s ease; }
      .section .form-action input[type=submit] {
        margin: 0 auto;
        background-color: #4b67ba;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        line-height: 40px;
        width: 228px;
        text-transform: uppercase;
        padding-left: 0px;
        padding-right: 0px; }
    .section .form-action textarea {
      padding-right: 20px;
      margin: 0 auto;
      -webkit-border-radius: 8px;
              border-radius: 8px;
      border: 2px solid #4b67ba;
      outline: none;
      width: 363px;
      display: block;
      line-height: 40px;
      margin-bottom: 22px;
      -webkit-box-shadow: none;
              box-shadow: none;
      padding-left: 20px;
      font-size: 18px;
      color: #474343;
      font-weight: 300; }
      .section .form-action textarea::-webkit-input-placeholder {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #474343;
        line-height: 40px; }
      .section .form-action textarea::-moz-placeholder {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #474343;
        line-height: 40px; }
      .section .form-action textarea:-ms-input-placeholder {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #474343;
        line-height: 40px; }
      .section .form-action textarea::-ms-input-placeholder {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #474343;
        line-height: 40px; }
      .section .form-action textarea::placeholder {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #474343;
        line-height: 40px; }
      .section .form-action textarea:focus::-webkit-input-placeholder {
        color: transparent; }
      .section .form-action textarea:focus::-moz-placeholder {
        color: transparent; }
      .section .form-action textarea:focus:-ms-input-placeholder {
        color: transparent; }
      .section .form-action textarea:focus::-ms-input-placeholder {
        color: transparent; }
      .section .form-action textarea:focus::placeholder {
        color: transparent; }

.footer {
  background-color: #4b67ba; }
  .footer-reg h6 {
    margin-top: 35px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff; }
  .footer-reg p {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #fff;
    margin-bottom: 60px; }
  .footer-addres p {
    margin-top: 35px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #fff;
    margin-left: 10px; }
  .footer-contact {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #fff;
    margin-top: 35px;
    position: relative; }
    .footer-contact::before {
      content: '';
      position: absolute;
      background-image: url(../img/tel.png);
      background-repeat: no-repeat;
      width: 26px;
      height: 26px;
      top: 13px;
      left: -22px; }
    .footer-contact a {
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: 20px;
      color: #fff; }
      .footer-contact a:hover {
        text-decoration: none; }

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif; }

a,
a:visited,
a:hover,
a:active {
  color: #ffffff;
  text-decoration: none; }

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 3em; }

.outer-menu {
  position: absolute;
  top: 35px;
  right: 70px;
  z-index: 1000; }

.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0; }

.outer-menu .checkbox-toggle:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0; }

.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto; }

.outer-menu .checkbox-toggle:checked ~ .menu > div {
  width: 200vw;
  height: 200vw; }

.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  -o-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s; }

.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg); }

.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: .5em 1em;
  background: #4b67ba;
  -webkit-border-radius: 0 0.12em 0.12em 0;
          border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  -webkit-transition: box-shadow 0.4s ease;
  -webkit-transition: -webkit-box-shadow 0.4s ease;
  transition: -webkit-box-shadow 0.4s ease;
  -o-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.outer-menu .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fefefe;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.outer-menu .hamburger > div:after {
  top: 10px; }

.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.outer-menu .menu > div {
  width: 0;
  height: 0;
  color: #fefefe;
  background: #4b67ba;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh; }

.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block; }

.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease; }

.outer-menu .menu > div > div > ul > li > a:hover {
  color: #e5e5e5; }

.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%; }

.outer-menu .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  -webkit-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
  transition: width 0.4s ease; }
